body {
  font-family: palatino;
  line-height: 1.2;
}

.main-image {
  width: 340px;
  max-width: 100%;
  margin-bottom: 0.8rem;
  cursor: pointer;
  display: block;
  filter: hue-rotate(-10deg) brightness(0.33);
}

.main-image.playing {
  filter: hue-rotate(20deg) brightness(1.16);
}

small {
  color: gray;
}

.left-arrow,
.right-arrow {
  position: fixed;
  bottom: 0.5rem;
  font-size: smaller;
}

.left-arrow {
  left: 0.5rem;
}

.right-arrow {
  right: 0.5rem;
}

.gradient-sphere {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: radial-gradient(circle at center,
    white,
    purple,
    white,
    white);
  box-shadow: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.gradient-sphere:hover {
  opacity: 1;
}